body {
  font-family: sans-serif;
  background-color: white;
}

#banner {
  background-image: url("logo3.png");
  
  width: 100%;
  height:45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 65%;
  position: relative;
}

h1 {
  position: absolute;
  color: #2e7d32;
  width:60%;
  top: 10px;
  left: 20px;
  font-size: clamp(1.4rem, 5vw, 2.5rem);

}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  
}

.main-nav, footer {
  background-color: #2e7d32;
  padding: 5px;
}

.main-nav a {
  font-weight: 900;
  color: white;
  text-decoration: none;
  
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.main-nav ul li a {
  padding: 5px;
}

li a:hover {
  background-color: #9ACD32;
}


section {
  color: #2e7d32;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;

}

.outer-section {
    padding: 10px 20px;
    margin: 20px auto;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);

}



table, th, td {
  border: 1px solid black;
}



